# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# dotenv
.env
.env.*

# SQLite
*.db
*.sqlite3

# Python bytecode
*.pyc

# Editor / OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
